{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

<div class="site-primary-header-wrap ast-builder-grid-row-container site-header-focus-item ast-container" data-section="section-primary-header-builder">
				<div class="ast-builder-grid-row ast-builder-grid-row-has-sides ast-builder-grid-row-no-center">
											<div class="site-header-primary-section-left site-header-section ast-flex site-header-section-left">
										<div class="ast-builder-layout-element ast-flex site-header-focus-item ast-header-html-2" data-section="section-hb-html-2">
				<div class="ast-header-html inner-link-style-"><div class="ast-builder-html-element"><p>CHILL &amp; RELAX WITH CBD</p>
</div></div>			</div>
									</div>
																									<div class="site-header-primary-section-right site-header-section ast-flex ast-grid-right-section">
												<div class="ast-builder-layout-element site-header-focus-item ast-header-html-3" data-section="section-hb-html-3">
					<div class="ast-header-html inner-link-style-"><div class="ast-builder-html-element"><p>					</p><div class="astra-advanced-hook-11798 ">
				
<div class="wp-block-columns is-not-stacked-on-mobile is-layout-flex wp-container-5">
<div class="wp-block-column has-ast-global-color-5-color has-text-color is-layout-flow">
<figure class="wp-block-image size-medium is-resized size-large"><a href="https://twitter.com/CBD_CHILLAXY_JP" title="CHILLAXY on Twitter" target="_blank" rel="noreferrer noopener"><img src="https://202303221429an3r6u7r.conohawing.com/wp/wp-content/uploads/2023/04/twitter_navy.svg" alt="Twitter" class="wp-image-11755" width="20" height="20"></a></figure>
</div>



<div class="wp-block-column is-layout-flow">
<figure class="wp-block-image size-large is-resized"><a href="https://www.facebook.com/CBD.CHILLAXY" title="CHILLAXY on Facebook" target="_blank" rel="noreferrer noopener"><img src="https://202303221429an3r6u7r.conohawing.com/wp/wp-content/uploads/2023/04/fb_navy.svg" alt="Facebook" class="wp-image-11754" width="20" height="20"></a></figure>
</div>



<div class="wp-block-column is-layout-flow">
<figure class="wp-block-image size-large is-resized"><a href="https://www.youtube.com/channel/UCTay6gTz_o5hVYUBIB36_6w" title="CHILLAXY on YouTube" target="_blank" rel="noreferrer noopener"><img src="https://202303221429an3r6u7r.conohawing.com/wp/wp-content/uploads/2023/04/youtube_navy.svg" alt="You tube" class="wp-image-11753" width="20" height="20"></a></figure>
</div>



<div class="wp-block-column is-layout-flow">
<figure class="wp-block-image size-full is-resized"><a href="https://www.instagram.com/cbd.chillaxy/" title="CHILLAXY on Instagram" target="_blank" rel="noreferrer noopener"><img src="https://202303221429an3r6u7r.conohawing.com/wp/wp-content/uploads/2023/04/instagram_navy.svg" alt="Instagram" class="wp-image-11752" width="20" height="20"></a></figure>
</div>
</div>
					</div>
				<p></p>
</div></div>				</div>
											</div>
												</div>
					</div>